.ow_1_1 {
    background-image: url(../images/overworld/qM/row-1-column-1.png)
}
.ow_1_2 {
    background-image: url(../images/overworld/qM/row-1-column-2.png)
}
.ow_1_3 {
    background-image: url(../images/overworld/qM/row-1-column-3.png)
}
.ow_1_4 {
    background-image: url(../images/overworld/qM/row-1-column-4.png)
}
.ow_1_5 {
    background-image: url(../images/overworld/qM/row-1-column-5.png)
}
.ow_1_6 {
    background-image: url(../images/overworld/qM/row-1-column-6.png)
}
.ow_1_7 {
    background-image: url(../images/overworld/qM/row-1-column-7.png)
}
.ow_1_8 {
    background-image: url(../images/overworld/qM/row-1-column-8.png)
}
.ow_1_9 {
    background-image: url(../images/overworld/qM/row-1-column-9.png)
}
.ow_1_10 {
    background-image: url(../images/overworld/qM/row-1-column-10.png)
}
.ow_1_11 {
    background-image: url(../images/overworld/qM/row-1-column-11.png)
}
.ow_1_12 {
    background-image: url(../images/overworld/qM/row-1-column-12.png)
}
.ow_1_13 {
    background-image: url(../images/overworld/qM/row-1-column-13.png)
}
.ow_1_14 {
    background-image: url(../images/overworld/qM/row-1-column-14.png)
}
.ow_1_15 {
    background-image: url(../images/overworld/qM/row-1-column-15.png)
}
.ow_1_16 {
    background-image: url(../images/overworld/qM/row-1-column-16.png)
}
.ow_2_1 {
    background-image: url(../images/overworld/qM/row-2-column-1.png)
}
.ow_2_2 {
    background-image: url(../images/overworld/qM/row-2-column-2.png)
}
.ow_2_3 {
    background-image: url(../images/overworld/qM/row-2-column-3.png)
}
.ow_2_4 {
    background-image: url(../images/overworld/qM/row-2-column-4.png)
}
.ow_2_5 {
    background-image: url(../images/overworld/qM/row-2-column-5.png)
}
.ow_2_6 {
    background-image: url(../images/overworld/qM/row-2-column-6.png)
}
.ow_2_7 {
    background-image: url(../images/overworld/qM/row-2-column-7.png)
}
.ow_2_8 {
    background-image: url(../images/overworld/qM/row-2-column-8.png)
}
.ow_2_9 {
    background-image: url(../images/overworld/qM/row-2-column-9.png)
}
.ow_2_10 {
    background-image: url(../images/overworld/qM/row-2-column-10.png)
}
.ow_2_11 {
    background-image: url(../images/overworld/qM/row-2-column-11.png)
}
.ow_2_12 {
    background-image: url(../images/overworld/qM/row-2-column-12.png)
}
.ow_2_13 {
    background-image: url(../images/overworld/qM/row-2-column-13.png)
}
.ow_2_14 {
    background-image: url(../images/overworld/qM/row-2-column-14.png)
}
.ow_2_15 {
    background-image: url(../images/overworld/qM/row-2-column-15.png)
}
.ow_2_16 {
    background-image: url(../images/overworld/qM/row-2-column-16.png)
}
.ow_3_1 {
    background-image: url(../images/overworld/qM/row-3-column-1.png)
}
.ow_3_2 {
    background-image: url(../images/overworld/qM/row-3-column-2.png)
}
.ow_3_3 {
    background-image: url(../images/overworld/qM/row-3-column-3.png)
}
.ow_3_4 {
    background-image: url(../images/overworld/qM/row-3-column-4.png)
}
.ow_3_5 {
    background-image: url(../images/overworld/qM/row-3-column-5.png)
}
.ow_3_6 {
    background-image: url(../images/overworld/qM/row-3-column-6.png)
}
.ow_3_7 {
    background-image: url(../images/overworld/qM/row-3-column-7.png)
}
.ow_3_8 {
    background-image: url(../images/overworld/qM/row-3-column-8.png)
}
.ow_3_9 {
    background-image: url(../images/overworld/qM/row-3-column-9.png)
}
.ow_3_10 {
    background-image: url(../images/overworld/qM/row-3-column-10.png)
}
.ow_3_11 {
    background-image: url(../images/overworld/qM/row-3-column-11.png)
}
.ow_3_12 {
    background-image: url(../images/overworld/qM/row-3-column-12.png)
}
.ow_3_13 {
    background-image: url(../images/overworld/qM/row-3-column-13.png)
}
.ow_3_14 {
    background-image: url(../images/overworld/qM/row-3-column-14.png)
}
.ow_3_15 {
    background-image: url(../images/overworld/qM/row-3-column-15.png)
}
.ow_3_16 {
    background-image: url(../images/overworld/qM/row-3-column-16.png)
}
.ow_4_1 {
    background-image: url(../images/overworld/qM/row-4-column-1.png)
}
.ow_4_2 {
    background-image: url(../images/overworld/qM/row-4-column-2.png)
}
.ow_4_3 {
    background-image: url(../images/overworld/qM/row-4-column-3.png)
}
.ow_4_4 {
    background-image: url(../images/overworld/qM/row-4-column-4.png)
}
.ow_4_5 {
    background-image: url(../images/overworld/qM/row-4-column-5.png)
}
.ow_4_6 {
    background-image: url(../images/overworld/qM/row-4-column-6.png)
}
.ow_4_7 {
    background-image: url(../images/overworld/qM/row-4-column-7.png)
}
.ow_4_8 {
    background-image: url(../images/overworld/qM/row-4-column-8.png)
}
.ow_4_9 {
    background-image: url(../images/overworld/qM/row-4-column-9.png)
}
.ow_4_10 {
    background-image: url(../images/overworld/qM/row-4-column-10.png)
}
.ow_4_11 {
    background-image: url(../images/overworld/qM/row-4-column-11.png)
}
.ow_4_12 {
    background-image: url(../images/overworld/qM/row-4-column-12.png)
}
.ow_4_13 {
    background-image: url(../images/overworld/qM/row-4-column-13.png)
}
.ow_4_14 {
    background-image: url(../images/overworld/qM/row-4-column-14.png)
}
.ow_4_15 {
    background-image: url(../images/overworld/qM/row-4-column-15.png)
}
.ow_4_16 {
    background-image: url(../images/overworld/qM/row-4-column-16.png)
}
.ow_5_1 {
    background-image: url(../images/overworld/qM/row-5-column-1.png)
}
.ow_5_2 {
    background-image: url(../images/overworld/qM/row-5-column-2.png)
}
.ow_5_3 {
    background-image: url(../images/overworld/qM/row-5-column-3.png)
}
.ow_5_4 {
    background-image: url(../images/overworld/qM/row-5-column-4.png)
}
.ow_5_5 {
    background-image: url(../images/overworld/qM/row-5-column-5.png)
}
.ow_5_6 {
    background-image: url(../images/overworld/qM/row-5-column-6.png)
}
.ow_5_7 {
    background-image: url(../images/overworld/qM/row-5-column-7.png)
}
.ow_5_8 {
    background-image: url(../images/overworld/qM/row-5-column-8.png)
}
.ow_5_9 {
    background-image: url(../images/overworld/qM/row-5-column-9.png)
}
.ow_5_10 {
    background-image: url(../images/overworld/qM/row-5-column-10.png)
}
.ow_5_11 {
    background-image: url(../images/overworld/qM/row-5-column-11.png)
}
.ow_5_12 {
    background-image: url(../images/overworld/qM/row-5-column-12.png)
}
.ow_5_13 {
    background-image: url(../images/overworld/qM/row-5-column-13.png)
}
.ow_5_14 {
    background-image: url(../images/overworld/qM/row-5-column-14.png)
}
.ow_5_15 {
    background-image: url(../images/overworld/qM/row-5-column-15.png)
}
.ow_5_16 {
    background-image: url(../images/overworld/qM/row-5-column-16.png)
}
.ow_6_1 {
    background-image: url(../images/overworld/qM/row-6-column-1.png)
}
.ow_6_2 {
    background-image: url(../images/overworld/qM/row-6-column-2.png)
}
.ow_6_3 {
    background-image: url(../images/overworld/qM/row-6-column-3.png)
}
.ow_6_4 {
    background-image: url(../images/overworld/qM/row-6-column-4.png)
}
.ow_6_5 {
    background-image: url(../images/overworld/qM/row-6-column-5.png)
}
.ow_6_6 {
    background-image: url(../images/overworld/qM/row-6-column-6.png)
}
.ow_6_7 {
    background-image: url(../images/overworld/qM/row-6-column-7.png)
}
.ow_6_8 {
    background-image: url(../images/overworld/qM/row-6-column-8.png)
}
.ow_6_9 {
    background-image: url(../images/overworld/qM/row-6-column-9.png)
}
.ow_6_10 {
    background-image: url(../images/overworld/qM/row-6-column-10.png)
}
.ow_6_11 {
    background-image: url(../images/overworld/qM/row-6-column-11.png)
}
.ow_6_12 {
    background-image: url(../images/overworld/qM/row-6-column-12.png)
}
.ow_6_13 {
    background-image: url(../images/overworld/qM/row-6-column-13.png)
}
.ow_6_14 {
    background-image: url(../images/overworld/qM/row-6-column-14.png)
}
.ow_6_15 {
    background-image: url(../images/overworld/qM/row-6-column-15.png)
}
.ow_6_16 {
    background-image: url(../images/overworld/qM/row-6-column-16.png)
}
.ow_7_1 {
    background-image: url(../images/overworld/qM/row-7-column-1.png)
}
.ow_7_2 {
    background-image: url(../images/overworld/qM/row-7-column-2.png)
}
.ow_7_3 {
    background-image: url(../images/overworld/qM/row-7-column-3.png)
}
.ow_7_4 {
    background-image: url(../images/overworld/qM/row-7-column-4.png)
}
.ow_7_5 {
    background-image: url(../images/overworld/qM/row-7-column-5.png)
}
.ow_7_6 {
    background-image: url(../images/overworld/qM/row-7-column-6.png)
}
.ow_7_7 {
    background-image: url(../images/overworld/qM/row-7-column-7.png)
}
.ow_7_8 {
    background-image: url(../images/overworld/qM/row-7-column-8.png)
}
.ow_7_9 {
    background-image: url(../images/overworld/qM/row-7-column-9.png)
}
.ow_7_10 {
    background-image: url(../images/overworld/qM/row-7-column-10.png)
}
.ow_7_11 {
    background-image: url(../images/overworld/qM/row-7-column-11.png)
}
.ow_7_12 {
    background-image: url(../images/overworld/qM/row-7-column-12.png)
}
.ow_7_13 {
    background-image: url(../images/overworld/qM/row-7-column-13.png)
}
.ow_7_14 {
    background-image: url(../images/overworld/qM/row-7-column-14.png)
}
.ow_7_15 {
    background-image: url(../images/overworld/qM/row-7-column-15.png)
}
.ow_7_16 {
    background-image: url(../images/overworld/qM/row-7-column-16.png)
}
.ow_8_1 {
    background-image: url(../images/overworld/qM/row-8-column-1.png)
}
.ow_8_2 {
    background-image: url(../images/overworld/qM/row-8-column-2.png)
}
.ow_8_3 {
    background-image: url(../images/overworld/qM/row-8-column-3.png)
}
.ow_8_4 {
    background-image: url(../images/overworld/qM/row-8-column-4.png)
}
.ow_8_5 {
    background-image: url(../images/overworld/qM/row-8-column-5.png)
}
.ow_8_6 {
    background-image: url(../images/overworld/qM/row-8-column-6.png)
}
.ow_8_7 {
    background-image: url(../images/overworld/qM/row-8-column-7.png)
}
.ow_8_8 {
    background-image: url(../images/overworld/qM/row-8-column-8.png)
}
.ow_8_9 {
    background-image: url(../images/overworld/qM/row-8-column-9.png)
}
.ow_8_10 {
    background-image: url(../images/overworld/qM/row-8-column-10.png)
}
.ow_8_11 {
    background-image: url(../images/overworld/qM/row-8-column-11.png)
}
.ow_8_12 {
    background-image: url(../images/overworld/qM/row-8-column-12.png)
}
.ow_8_13 {
    background-image: url(../images/overworld/qM/row-8-column-13.png)
}
.ow_8_14 {
    background-image: url(../images/overworld/qM/row-8-column-14.png)
}
.ow_8_15 {
    background-image: url(../images/overworld/qM/row-8-column-15.png)
}
.ow_8_16 {
    background-image: url(../images/overworld/qM/row-8-column-16.png)
}
